*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI, sans-serif;
}

body{
    background:#fff5f5;

}
/* .image img{
    width: 400px;
    height:auto;
    margin-left: 20px;
} */

/* NAVBAR */
nav{
    display: flex;
    align-items: center;
    background:#f60909;
    padding:10px 20px;
    text-align:left;
}

nav a{
    color:white;
    margin:10px;
    text-decoration:none;
    font-weight:bold;
}
nav img{
    width: 50px;
    height: 50px;
    /* shape-image-threshold: initial; */
    border-radius: 50%;
    object-fit: cover;
    margin-right: 20px;
}

.hero{
    position: relative;
    height:280px;   /* smaller size (was 420px) */
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    color:white;
    text-align:center;
    overflow:hidden;
}

/* Background video */
.bg-video{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-2;
}

/* Dark overlay */
.hero::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    z-index:-1;
}

.hero h1{
    font-size:36px;   /* slightly smaller text */
}

.hero p{
    font-size:16px;
}


.container{
    padding:40px 10%;
}

/* PRODUCT CARDS */
.products{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:50px;
    color:white;
}

.card{
    background:white;
    padding:20px;
    border-radius:10px;
    text-align:center;
    box-shadow:0 4px 10px rgba(0,0,0,0.1);
    width: 500px;
    height: 250px;
}

.card img{
    width: 400px;
    height: 200px;
}


.btn{
    display:inline-block;
    margin-top:10px;
    padding:8px 15px;
    background:#f60909;
    color:white;
    text-decoration:none;
    border-radius:5px;
}

/* CONTACT */
input, textarea{
    width:100%;
    padding:10px;
    margin:10px 0;
}

/* FOOTER */
footer{
    background:#f60909;
    color:white;
    text-align:center;
    padding:15px;
    margin-top:20px;
}

footer a{
    color:#fff;
    margin:0 10px;
    text-decoration:none;
}